
body {
	font-family: 'Amatic SC', sans-serif;
}

ul {
	list-style: none;
	width: 40%;
    margin: 0 auto;
	
}

nav ul li {
	display: inline-block;
	color:#FE304C;
	padding-top: 1%;
	/*padding-left: 3%;*/

}

.top {
	background-color: #201642;
}

.hero {
	clear:both;
	
}

.hero p {
	text-align: center;
	color:#FE304C;
	padding-bottom: 4%;
}

.hero h1 {
	padding-top: 8%;
	font-size: 5em;
	font-family: 'Amatic SC', sans-serif;
	font-weight: 400;
	text-align: center;
	color: #FDFEFE;
	}