
body {
	background: url(../images/pentridge.jpg)no-repeat; 
	background-size: cover;
	font-family: Questrial, sans-serif;
}

ul {
	list-style: none;
}

ul li {
	float: left;
	margin-left: 3%;
}

.hero {
	clear:both;
	color: #FF0066;

}

.hero p {
	text-align: right;
	margin-right: 
}

.hero h1 {
	padding-top: 8%;
	font-size: 5em;
	text-align: center;
	}